body{
    display:flex;
    flex-direction: column;
}
h1{
    background-color: aliceblue;
    margin: auto;
}

#allapot{
    background-color: aliceblue;
    border: medium ridge darkblue;
    margin: auto;
    width: 18.5em;
}

#allapot>ul{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    list-style-type: none; 
}
#allapot>ul>li{
    display: flex;
}
#allapot>ul>li>div{
    background-color: black;
    color: yellow;
    font-family: monospace;
}

table.aknakereso{
    border-collapse: collapse;
    margin: 1em auto;
    border: medium ridge darkblue;
}

table.aknakereso th{
    border: medium ridge darkblue;
    width: 2em;
    height: 2em;
    text-align: center;
    vertical-align: middle;
}

table.aknakereso tr{
    border: medium ridge darkblue;
    width: 2em;
    height: 2em;
    text-align: center;
    vertical-align: middle;
}


table.aknakereso tr:nth-child(1)>th:nth-child(1)::before{
    content: "\01F4A3";
}
table.aknakereso tr:nth-child(2)>th:nth-child(2)::before{
    content: "\01F4A3";
}
table.aknakereso tr:nth-child(3)>th:nth-child(3)::before{
    content: "\01F4A3";
}
table.aknakereso tr:nth-child(4)>th:nth-child(4)::before{
    content: "\01F4A3";
}
table.aknakereso tr:nth-child(5)>th:nth-child(5)::before{
    content: "\01F4A3";
}

table.aknakereso tr:nth-child(1)>th:nth-child(2)::before{
    content: "1";
    color:blue;
}
table.aknakereso tr:nth-child(2)>th:nth-child(3)::before{
    content: "1";
    color:blue;
}
table.aknakereso tr:nth-child(3)>th:nth-child(4)::before{
    content: "1";
    color:blue;
}
table.aknakereso tr:nth-child(4)>th:nth-child(5)::before{
    content: "1";
    color:blue;
}
table.aknakereso tr:nth-child(5)>th:nth-child(6)::before{
    content: "1";
    color:blue;
}
