*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: normal;
}
body{
	font-family: "Karma", sans-serif;	
}
main{
	width: 1300px;
	margin: 0 auto;
}
main > header{
	font-size: 10pt;
	text-align: center;
	width: 100%;
	padding: 20px 0;
	position: sticky;
	top: 0;
	background-color: white;
}
main > header h1:first-of-type{
	width: 95%;
	float: left;
	text-align: center;
}
main > header h1:nth-of-type(2){
	width: 5%;
	float: left;
}
main > section{
	text-align: center;
	clear: both;
}
main > section > section{
	display: flex;
	flex-wrap: wrap;
	margin: 30px 10px;
}
main > section > section > div{
	width: 25%;
	padding: 20px 10px;
}
main > section > section > div img{
	width: 100%;
}
main > section > section > div > div h2{
	margin: 9px;
	line-height: 1.5;
}
main > section > section > div > div p{
	font-size: 13pt;
	margin: 9px;
	line-height: 1.5;
}
.active{
	background-color: black;
	color:white;
}
.active2{
	background-color: black;
	color:white;
	padding: 2px 8px;
}
.active:hover{
	background-color:grey;
}
main > section {
	margin: 15px;
}
main > section > footer{
	margin-bottom: 50px;
	text-align: center;
	display: block;
}
main > section > footer > a{
	color: black;
	text-decoration: none;
	font-size: 12pt;
	padding: 10px 15px;
	text-align: center;
}
main > section > footer > a:hover:not(.active){
	background-color: black;
	color:white;
}
aside > div{
	padding-bottom: 60px;
	border-bottom: 1px solid #d9d9d9;
}
aside{
	border-top: 1px solid #d9d9d9;
	text-align: center;
}
aside > h3{
	font-weight: bold;
	padding: 60px 0px 40px;
	font-size: 20pt;
}
aside > div > h4{
	font-size: 16pt;
	font-weight: bold;
}
aside > div > p{
	padding: 10px 0px;
	font-size: 13pt;
}
aside > div > p:first-of-type{
	font-style: oblique;
}
main > footer{
	display: flex;
	padding: 15px 65px 15px;
	text-align: left;
}
.cim{
	font-size: 16pt;
	padding: 20px 0px;
}
main > footer > section{
	width: 33%;
	padding: 5px;
}
main > footer > section img{
	width: 50px;
	height: 50px;
}
main > footer > section p{
	font-size: 13pt;
	margin-bottom: 15px;
}
main > footer > section a{
	font-size: 12pt;
	color: black;
}
main > footer > section > article > div{
	display:flex;
	padding: 15px;
}
main > footer > section > article > div > div > p:first-child{
	font-size:14pt;
}
main > footer > section > article > div > div > p{
	margin: 5px 10px;
	line-height: 1;
	font-size:12pt;
}
main > footer > section > article > div:hover{
	background-color: #d9d9d9;
}
main > footer > section > span{
	display: inline-block;
	background-color: grey;
	padding: 0px 8px;
	font-size: 12pt;
	margin-left: 2px;
	margin-bottom: 5px;
	color: white;
}
main > footer > section > article > div{
	border-top: 1px solid #d9d9d9;
}
@media only screen and (max-width: 1300px) {
  main{
    width: 95%;
  }
}
@media only screen and (max-width: 800px) {
  main > section > section > div{
    width: 100%;
	
  }
  main{
	  margin: 0;
  }
  main > aside{
    width: 100%;
  }
}