*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
select{
	width:30%;
	height: 30px;
	float: left;
	margin-bottom: 20px;
}

body{
	background-color: #e1e1e1;
}

footer{
	border-top: 1px solid #999999;
	padding: 30px 15px; 
	color: grey;
}

main{
	width: 800px;
	margin: 10px auto;
	background-color: white;
	border-radius: 5px;
}

header{
	padding: 20px;
}

nav{
	padding: 0 20px 20px;
	border-bottom: 1px solid #999;
}

nav ul{
	list-style-type: none;
}

nav li{
	display: inline-block;
}

nav li a{
	color: #000;
	display: block;
	margin-right: 10px;
}

nav li a:hover{
	text-decoration: none;
}


section{
	padding: 30px;
}

section h3{
	margin-bottom: 15px;
}

form > div{
	clear: both;
	margin-bottom: 20px;
	width: 700px;
	text-align: right;
}

.hiba{
	width: 340px;
	display: inline-block;
	text-align: left;
	margin-left: 10px;
	color: red;
}

input{
	margin-left: 40px;
}

[type="submit"]{
	
}



